
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a{
    text-decoration: none
}

*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(250,250,250);
    background: linear-gradient(176deg, rgba(250,250,250,1) 0%, rgba(245,245,245,1) 100%); 
}

/*-----------------------------Header_begin-------------------*/
.header{
    display: flex; 
    flex-direction:row;
    justify-content: center;
}

.header__container{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.header__headline-block{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.headline-block__row{
    display: flex;
    flex-direction: row;
}

.header__description{
    text-align: center;
    margin-top: 40px;
    width: 60%;
    color: #2b2b2b;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1px;
}

.row__headline span {
    margin: 0px 0px;
    color: #191919;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    transition: .6s;
}

.headline-block__row{
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.row__logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

.headline-block__border{
    margin-left: 15px;
    width: 40%;
    border-top: 3px solid rgb(0, 0, 0);
    transition: .6s;
}


.header__headline-block:hover .headline-block__border{
        width: 100%;
        border-top: 3px dotted rgb(255, 145, 0);
}

.header__headline-block:hover .row__headline span{
    color: #190086;
}
/*-----------------------------Header_end-------------------*/

/*-----------------------------Hero_begin-------------------*/
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero__container{
    margin: 70px 15% 0px 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
}

.hero__item-student{
    min-width: 300px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin-bottom: 30px;
}


.item-student__container{
    transition: .2s;
    border-radius:5px;
}

.item-student__container:hover{
    background: rgb(250,250,250);
    background: linear-gradient(157deg, rgba(250,250,250,1) 0%, rgba(242,242,242,1) 100%); 
    box-shadow: 0px 7px 6px 1px rgb(179, 179, 179);
}
.item-student__image{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item-student__image img{
   /** border: rgb(80, 0, 184) 5px solid;*/
    margin-top: 15px;
    height: 150px;
    border-radius: 50%;
    width: 150px;
    object-fit: cover;
}

.student-info__name{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    color: #191919;
    font-family: Roboto;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.student-info__university{
    margin-top: 10px;
    text-align: center;
    color: #7c7c7c;
    font-weight: 700;
    font-family: Roboto;
    font-size: 18px;
}

.item-student__student-info{
    border-radius: 10px;
   
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: center;
    transition: .5s;
}


/*-----------------------------Hero_end-------------------*/

/*-----------------------------Popup_begin-------------------*/

.popup-stack {
    overflow: hidden;
}

.popup {
    min-width: 200px;
    max-width: 100%;
    height: auto;
    padding: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.40);
    border-radius: 6px;
    position: absolute;
    left: -10000px;
    top: -10000px;
    z-index: 100;
}

.popup__header {
    display: flex;
    flex-direction: row;
    line-height: 30px;
    height: 40px;
    justify-content: flex-end;
}

.popup__title {
    flex-grow: 1;
    color: #cfcfcf;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 10px;
}

.popup__closeButton {
    width: 24px;
    height: 24px;
    padding: 3px 0px;
    margin-left: 8px;
    align-self: baseline;
    cursor: pointer;
}

/* profile-mini */
.profile-mini {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 176px;
    grid-template-rows: 50px 1fr 40px;
    width: inherit;
}

.profile-mini__photo {
    justify-self: end;
    grid-row: span 3 / auto;
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
}

.profile-mini__title, 
.profile-mini__value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-mini__title_big {
    font-weight: 100;
    font-size: 32px;
}

.profile-mini__params {
    display: grid;
    grid-template-columns: minmax(50px, max-content) minmax(50px, 1fr);
}

.profile-mini__params .profile-mini__title {
    color: #cfcfcf;
    margin-right: 16px;
}

.profile-mini__futter {
    display: grid;
    grid-template-columns: 40px minmax(100px, 1fr);
    align-items: center;
}

/* profile-message-bottom */
.profile-message-bottom {
    width: 32px;
    height: 32px;
    object-fit: cover;
    cursor: pointer;
}

/* persons-mini-list */
.persons-mini-list {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.persons-mini-list__link {
    margin-right: 8px;
    text-decoration: none;
    color: rgb(15, 133, 200);
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    text-align: right;
}

.persons-mini-list__ava {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-right: -16px;
    position: relative;
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
}

.persons-mini-list__ava:hover {
    z-index: 1;
}

/*-----------------------------Popup_end-------------------*/

.info__text{
    font-family: "Roboto" ;
}