@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a{
    text-decoration: none
}

body{
    background: rgb(250,250,250);
    background: linear-gradient(176deg, rgba(250,250,250,1) 0%, rgba(245,245,245,1) 100%); 
}
/*-----------------------------Header_begin-------------------*/
.header{
    display: flex; 
    flex-direction:row;
    justify-content: center;
}

.header__container{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.header__headline-block{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.headline-block__row{
    display: flex;
    flex-direction: row;
}

.header__description{
    text-align: center;
    margin-top: 40px;
    width: 60%;
    color: #2b2b2b;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1px;
}

.row__headline span {
    margin: 0px 0px;
    color: #191919;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    transition: .6s;
}

.headline-block__row{
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.row__logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

.headline-block__border{
    margin-left: 15px;
    width: 40%;
    border-top: 3px solid rgb(0, 0, 0);
    transition: .6s;
}


.header__headline-block:hover .headline-block__border{
        width: 100%;
        border-top: 3px dotted rgb(255, 145, 0);
}

.header__headline-block:hover .row__headline span{
    color: #190086;
}
/*-----------------------------Header_end-------------------*/

/*-----------------------------Hero_begin-------------------*/

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero__container{
    margin: 70px 15% 0px 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
}

.hero__item-student{
    min-width: 300px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin-bottom: 30px;
}


.item-student__container{
    transition: .2s;
    width: 70%;
    border-radius:5px;
}

.item-student__container:hover{
    background: rgb(250,250,250);
    background: linear-gradient(157deg, rgba(250,250,250,1) 0%, rgba(242,242,242,1) 100%); 
    box-shadow: 0px 7px 6px 1px rgb(179, 179, 179);
}
.item-student__image{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item-student__image img{
   /** border: rgb(80, 0, 184) 5px solid;*/
    margin-top: 15px;
    height: 150px;
    border-radius: 50%;
    width: 150px;
    object-fit: cover;
}

.student-info__name{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    color: #191919;
    font-family: Roboto;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.student-info__university{
    margin-top: 10px;
    text-align: center;
    color: #7c7c7c;
    font-weight: 700;
    font-family: Roboto;
    font-size: 18px;
}

.item-student__student-info{
    border-radius: 10px;
   
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: center;
    transition: .5s;
}


/*-----------------------------Hero_end-------------------*/

.modal-card {
    display: none;
    position: fixed;
    top: 40%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
}

.modal-card-vis {
    display: flex;
    justify-content: center;
}

.modal-card__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 200px;
    border-radius: 10px;
    background: rgb(250,250,250);
    background: linear-gradient(157deg, rgba(250,250,250,1) 0%, rgba(242,242,242,1) 100%); 
    -webkit-box-shadow: 0px 0px 8px 6px rgba(219,219,219,1);
    -moz-box-shadow: 0px 0px 8px 6px rgba(219,219,219,1);
    box-shadow: 0px 0px 8px 6px rgba(219,219,219,1);
}


.modal-card__avatar img{
    height: 120px;
    border-radius: 10px;
    width: 110px;
    object-fit: cover;
 }
 

.modal-card__info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.info__name {
    margin-top: 10px;
    text-align: center;
    color: #383838;
    font-weight: 700;
    font-family: Roboto;
    font-size: 16px;
}

.info__birthday {
    margin-top: 10px;
    text-align: center;
    color: #4d4d4d;
    font-weight: 700;
    font-family: Roboto;
    font-size: 12px;
}

.info__education {
    margin-top: 10px;
    text-align: center;
    color: #797979;
    font-weight: 700;
    font-family: Roboto;
    font-size: 12px;
}


#modal-card__close-button {
    margin-top: 20px;
    margin-right: 10px;
    align-self: flex-start;
}

#modal-card__close-button img {
    width: 15px;
    height: 15px;
}


@media screen and (max-width:470px){
    .modal-card__container{
        width: 250px;
        height: 300px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    #modal-card__close-button {
        margin-top: 0;
        margin-right: 0;
        align-self:flex-start;
    }

    .modal-card__avatar img{
        height: 120px;
        margin-top: 0;
        border-radius: 10px;
        width: 110px;
        object-fit: cover;
     }

     .modal-card {
        top: 10%;  
    }

    #modal-card__close-button {
        margin-bottom: 20px;
        margin-left: 10px;
        align-self: flex-start;
    }
     
    
}