
#hero__item-student{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin-bottom: 30px;
}


.item-student__container{
    transition: .2s;
    background: rgba(238, 238, 238, 0.61);
    border-radius:5px;
}


.item-student__container:hover{
    background: rgb(250,250,250);
    background: linear-gradient(157deg, rgba(250,250,250,1) 0%, rgba(242,242,242,1) 100%); 
    box-shadow: 0px 7px 6px 1px rgb(179, 179, 179);
}
.item-student__image{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item-student__image img{
    margin-top: 15px;
    height: 150px;
    border-radius: 50%;
    width: 150px;
    object-fit: cover;
}

.student-info__name{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    color: #191919;
    font-family: Roboto;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.student-info__university{
    margin-top: 10px;
    text-align: center;
    color: #7c7c7c;
    font-weight: 700;
    font-family: Roboto;
    font-size: 18px;
}


.item-student__student-info{
    border-radius: 10px;
   
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: center;
    transition: .5s;
}

