@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@700&display=swap');
a{
    text-decoration: none
}

body{
    background: rgb(250,250,250);
    background: linear-gradient(176deg, rgba(250,250,250,1) 0%, rgba(245,245,245,1) 100%); 
}
/*-----------------------------Header_begin-------------------*/
.header{
    display: flex; 
    flex-direction:row;
    justify-content: center;
}

.header__container{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.header__headline-block{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.headline-block__row{
    display: flex;
    flex-direction: row;
}

.header__description{
    text-align: center;
    margin-top: 40px;
    width: 60%;
    color: #2b2b2b;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1px;
}

.row__headline span {
    margin: 0px 0px;
    color: #191919;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    transition: .6s;
}

.headline-block__row{
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.row__logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

.headline-block__border{
    margin-left: 15px;
    width: 40%;
    border-top: 3px solid rgb(0, 0, 0);
    transition: .6s;
}


.header__headline-block:hover .headline-block__border{
        width: 100%;
        border-top: 3px dotted rgb(255, 145, 0);
}

.header__headline-block:hover .row__headline span{
    color: #190086;
}
/*-----------------------------Header_end-------------------*/

/*-----------------------------Hero_begin-------------------*/

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero__container{
    margin: 70px 15% 0px 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

.hero__item-student{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin-bottom: 30px;
}


.item-student__container{
    transition: .2s;
    background: rgba(238, 238, 238, 0.61);
    border-radius:5px;
}

.item-teacher__container{
    transition: .2s;
    background: rgb(0,67,199);
    /* background: linear-gradient(40deg, rgba(0,67,199,1) 0%, rgba(47,0,101,1) 100%); */
    border-radius:5px;
}

.item-teacher__container:hover{
    background: rgb(0, 74, 223);
    /* background: linear-gradient(42deg, rgba(0,67,199,1) 0%, rgba(47,0,101,1) 100%); */
    box-shadow: 0px 7px 6px 1px rgb(179, 179, 179);
}


.item-student__container:hover{
    background: rgb(250,250,250);
    background: linear-gradient(157deg, rgba(250,250,250,1) 0%, rgba(242,242,242,1) 100%); 
    box-shadow: 0px 7px 6px 1px rgb(179, 179, 179);
}
.item-student__image{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item-student__image img{
    margin-top: 15px;
    height: 150px;
    border-radius: 50%;
    width: 150px;
    object-fit: cover;
}

.student-info__name{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    color: #191919;
    font-family: Roboto;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.student-info__university{
    margin-top: 10px;
    text-align: center;
    color: #7c7c7c;
    font-weight: 700;
    font-family: Roboto;
    font-size: 18px;
}

.teacher-info__name{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.teacher-info__university{
    margin-top: 10px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-family: Roboto;
    font-size: 18px;
}

.item-student__student-info{
    border-radius: 10px;
   
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: center;
    transition: .5s;
}


/*-----------------------------Hero_end-------------------*/

.modal-card {
    margin-top: 15%;
    position: fixed;
    z-index: 99999;
}

.inputModal-card {
    margin-top: 8%;
    position: fixed;
    z-index: 99999;
}

.modal-card-vis {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-card__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 200px;
    border-radius: 10px;
    background: rgb(250,250,250);
    background: linear-gradient(157deg, rgba(250,250,250,1) 0%, rgba(242,242,242,1) 100%); 
    -webkit-box-shadow: 0px 0px 8px 6px rgba(219,219,219,1);
    -moz-box-shadow: 0px 0px 8px 6px rgba(219,219,219,1);
    box-shadow: 0px 0px 8px 6px rgba(219,219,219,1);
}


.modal-card__avatar img{
    height: 120px;
    border-radius: 10px;
    width: 110px;
    object-fit: cover;
 }
 

.modal-card__info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.info__name {
    margin-top: 10px;
    text-align: center;
    color: #383838;
    font-weight: 700;
    font-family: Roboto;
    font-size: 16px;
}

.info__birthday {
    margin-top: 10px;
    text-align: center;
    color: #4d4d4d;
    font-weight: 700;
    font-family: Roboto;
    font-size: 12px;
}

.info__education {
    margin-top: 10px;
    text-align: center;
    color: #797979;
    font-weight: 700;
    font-family: Roboto;
    font-size: 12px;
}


#modal-card__close-button {
    margin-top: 20px;
    margin-right: 10px;
    align-self: flex-start;
}

#modal-card__close-button img {
    width: 15px;
    height: 15px;
}

/*
@media screen and (max-width:470px){
    .modal-card__container{
        width: 250px;
        height: 300px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    #modal-card__close-button {
        margin-top: 0;
        margin-right: 0;
        align-self:flex-start;
    }

    .modal-card__avatar img{
        height: 120px;
        margin-top: 0;
        border-radius: 10px;
        width: 110px;
        object-fit: cover;
     }

     .modal-card {
        top: 10%;  
    }

    #modal-card__close-button {
        margin-bottom: 20px;
        margin-left: 10px;
        align-self: flex-start;
    }
     
    .modal-card {
        margin-left: 10%;
    }
    
}
*/
.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*-------------------------------Pagination_Begin----------------------*/
.pagination{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pagination__container{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:300px;
    height: 50px;
    border-radius: 5px;
}

.pagination__left{
 -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#pageNum{
    width: 40px;
}

#pageNum p{
    margin: 0;
    font-size: 35px;
    text-align: center;
    font-family: "Poppins";
}


  /*-------------------------------Pagination_End----------------------*/


  /*-------------------------------Loader_begin------------------------*/
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(0, 38, 255);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;

  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
      background: rgb(255, 115, 0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
      background: rgb(255, 115, 0);
    }
  }
  
/*-------------------------------Loader_begin------------------------*/

.add-member{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.add-member__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgb(250,250,250);
    background: linear-gradient(157deg, rgba(250,250,250,1) 0%, rgba(242,242,242,1) 100%); 
    box-shadow: 0px 0px 8px 6px rgba(219,219,219,1);
    -webkit-box-shadow: 0px 0px 8px 6px rgba(219,219,219,1);
    -moz-box-shadow: 0px 0px 8px 6px rgba(219,219,219,1);
}

.add-member__container img{
    transition: .2s;
}

.add-member__container:hover img{
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
}

.add-member__container:hover{
    box-shadow: 0px 5px 8px 6px rgba(219,219,219,1);
    -webkit-box-shadow: 0px 5px 8px 6px rgba(219,219,219,1);
    -moz-box-shadow: 0px 5px 8px 6px rgba(219,219,219,1);
}

.add__description{
    border-radius: 10px;
    text-align: center;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    background: rgb(250,250,250);
    background: linear-gradient(157deg, rgba(250,250,250,1) 0%, rgba(242,242,242,1) 100%); 
    box-shadow: 0px 0px 8px 6px rgba(219,219,219,1);
    -webkit-box-shadow: 0px 0px 8px 6px rgba(219,219,219,1);
    -moz-box-shadow: 0px 0px 8px 6px rgba(219,219,219,1);
}

.add__description p{
    font-family: "Roboto";
}



.inputModal-card__container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 360px;
    height: auto;
    border-radius: 10px;
    background: rgb(250,250,250);
    background: linear-gradient(157deg, rgba(250,250,250,1) 0%, rgba(242,242,242,1) 100%); 
    -webkit-box-shadow: 0px 0px 8px 6px rgba(219,219,219,1);
    -moz-box-shadow: 0px 0px 8px 6px rgba(219,219,219,1);
    box-shadow: 0px 0px 8px 6px rgba(219,219,219,1);
}


#inputModal-card__close-button {
    margin-top: 20px;
    margin-right: 10px;
}

#inputModal-card__close-button img {
    width: 15px;
    height: 15px;
}

.button-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.disclamer-row {
    text-align: center;
    width: 80%;
    color: #2b2b2b;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1px;
}
.name-row , .type-row, .birth-row , .qualification-row, .education-row , .image-row , .post-row {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.qualification-row, .education-row {
    margin-bottom: 10px;
}

 .input {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



/*----------------Выбрать между учителем и учеником--------------------*/

:root {
    --border-size: 0.125rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: monospace;
    --color-primary: white;
    --color-secondary: black;
    --color-tertiary: dodgerblue;
    --shadow: rgba(0, 0, 0, 0.1);
    --space: 1rem;
  }
  
  .multi-button {
    display: flex;
    height: 50px;
    width: 300px;
    box-shadow: var(--shadow) 4px 4px;
  }
  
  .multi-button button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding: calc(var(--space) / 1.125) var(--space) var(--space);
    border: var(--border-size) solid black;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 15px;
    font-family: var(--font-family);
    text-shadow: var(--shadow) 2px 2px;
    transition: flex-grow var(--duration) var(--ease);
  }
  
  .multi-button button + button {
    border-left: var(--border-size) solid black;
    margin-left: calc(var(--border-size) * -1);
  }
  
  .multi-button button:hover,
  .multi-button button:focus {
    flex-grow: 2;
    color: white;
    outline: none;
    text-shadow: none;
    background-color: var(--color-secondary);
  }
  
  .multi-button button:focus {
    outline: var(--border-size) dashed var(--color-primary);
    outline-offset: calc(var(--border-size) * -3);
  }
  
  .multi-button:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
  }
  
  .multi-button button:active {
    transform: translateY(var(--border-size));
  }
  

  .birth-column{
      display: flex;
      flex-direction: column;
      justify-content: start;
  }

  .birth-column p {
      font-family: monospace;
      font-size: 15px;
  }


  .post-button{
    transition: .2s;
    height: 40px;
    background-color: white;
    font-size: 16px;
    color: black;
    border: 2px solid rgb(0, 0, 0);
    font-family: monospace;
    margin-bottom: 10px;
  }


.post-button:focus{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 8px 6px rgba(219,219,219,1);
    -moz-box-shadow: 0px 0px 8px 6px rgba(219,219,219,1);
    box-shadow: 0px 0px 8px 6px rgba(219,219,219,1);
}